# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build/
android/build/
ios/build/
ios/Pods/
*.bundle
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*
.metro/

# Build and cache
.gradle/
.idea/
*.swp

# Environment files
.env
.env.*
!.env.example

# Local configuration
ios/Podfile.lock
android/local.properties

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Testing
coverage/
.jest/
__snapshots__/

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
